/sorted_route_files
/unsorted_routes
/edgedata_outputs
/summary_csvs
/summary_outputs
/sumo_configs
/sumo_logs
/tripinfo_outputs
.DS_Store
*.trips.xml
amitran.xml
*.taz.xml
*.flows.xml
*.rou.xml
*.rou.alt.xml
cache/9fd86bf65d2d92eb3a48fe5284ed9e3c2d5def28.json
MoragaCensusBlocks.xml
/tl_2020_06_tabblock20
/tl_2024_06_place
